* {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
}

nav {
    background-color: rgb(219, 222, 225);
    display: flex;
    align-items: center;
}

.logo img{
    width: 80px;
    height: 80px;
    margin: 0 20 0 20;
}

.panel {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    align-items: center;
}

.panel a:link{
    margin-left: 20px;
}

.login-button{
    font-weight: bold;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    cursor: pointer;
}

.button {
    background-color: rgb(219, 222, 225);
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 10px;

    color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;
}

.button:hover {
    background-color: rgb(168, 168, 168);
}

ul {
    background: rgb(219, 222, 225);
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    background: rgb(219, 222, 225);
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li:hover,
li:focus-within {
    background: rgb(168, 168, 168);
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    background: rgb(219, 222, 225);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
}

ul li ul li {
    clear: both;
    width: 100%;
}