{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/core/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/core/style.css' %}">
    <title>WMS</title>
</head>
<body>
    <nav role="navigation" class="navbar">

        <div class="logo"><img src="{% static 'imgs/logo.png' %}" alt="logo" /></div>

        <ul>
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a>
            <ul class="dropdown">
              <li><a href="#">Sub-1</a></li>
              <li><a href="#">Sub-2</a></li>
              <li><a href="#">Sub-3</a></li>
            </ul>
          </li>
          <li><a href="#">Three</a></li>
        </ul>

        <div class="panel">
            {% if user.is_authenticated %}
            Zalogowano jako: {{ user.get_username }}<a class="login-button" href="{% url 'logout' %}">Wyloguj</a>
            {% else %}
            <button id="login-button" class="login-button">Zaloguj</button>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        przyklad
    </div>

{% include 'login_window.html' %}
</body>
</html>